<nav class="boder-seccion">

    <!-- Logo -->
    <div>
      <div class="mainsite__logo">
        <div class="d-flex align-items-center gap-2">
          <i class="bi bi-car-front-fill" style="font-size:1.8rem; color:#0962E5"></i>
          <span style="font-weight:700; color:#1A3044; font-size:1rem">
            Alquiler
            <br>
            <small style="font-weight:300; font-size:.75rem; color:#08997F">
              de Vehículos
            </small>
          </span>
        </div>
      </div>
  
      <!-- Menú -->
      <div class="mainsite__menu">
  
        <p class="mainsite__menu__title">PRINCIPAL</p>
        <div class="list-group list-group-flush">
          <a routerLink="/home/dashboard"
             routerLinkActive="active"
             class="list-group-item">
            <i class="bi bi-speedometer2"></i>
            Dashboard
          </a>
        </div>
  
        <p class="mainsite__menu__title">GESTIÓN</p>
        <div class="list-group list-group-flush">
  
          <a routerLink="/home/clientes/list"
             routerLinkActive="active"
             class="list-group-item">
            <i class="bi bi-people"></i>
            Clientes
          </a>
  
          <a routerLink="/home/vehiculos/list"
             routerLinkActive="active"
             class="list-group-item">
            <i class="bi bi-car-front"></i>
            Vehículos
          </a>
  
          <a routerLink="/home/alquileres/list"
             routerLinkActive="active"
             class="list-group-item">
            <i class="bi bi-calendar-check"></i>
            Alquileres
          </a>
  
        </div>
      </div>
    </div>
  
  </nav>